@font-face {
  font-family: "KumbhSans";
  src: url("../fonts/KumbhSans/KumbhSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "KumbhSans";
  src: url("../fonts/KumbhSans/KumbhSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "KumbhSans";
  font-weight: 400;
}
*::before, *::after {
  font-family: "icons";
}

:root {
  --black: #4a556c;
  --blue: #333461;
  --white: #fff;
  --gray: #faf8f6;
  --green: #20ad96;
  --blue-dark: #041434;
}

.container {
  min-height: 40px;
  max-width: 1470px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

h3 {
  font-size: 48px;
  line-height: 56px;
  color: var(--black);
  font-weight: 800;
  color: var(--blue);
}
@media (max-width: 768px) {
  h3 {
    font-size: 36px;
    line-height: 56px;
    color: var(--black);
    font-weight: 800;
  }
}
@media (max-width: 576px) {
  h3 {
    font-size: 32px;
    line-height: 46px;
    color: var(--black);
    font-weight: 800;
  }
}
@media (max-width: 370px) {
  h3 {
    text-align: center;
  }
}

.btn {
  width: 250px;
  border-radius: 10px;
  padding: 9px 0;
  border: none;
  outline: none;
  background: var(--green);
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.1);
}

svg {
  transition: 0.3s;
}

svg:hover {
  transform: scale(1.1);
}

.help {
  padding-left: 150px;
  margin: 90px auto 0;
}
.help__top {
  margin-top: 16px;
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
  flex-direction: row;
}
.help__top h3 {
  padding-top: 5px;
  max-width: 500px;
}
.help__top p {
  max-width: 468px;
}
.help__bottom {
  margin-top: 16px;
  display: flex;
}
.help__bottom-card {
  padding: 40px;
}
.help__bottom-card h4 {
  padding: 32px 0 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--blue-dark);
}

@media screen and (max-width: 992px) {
  .help__top {
    flex-wrap: wrap;
    gap: 20px;
  }
  .help__bottom {
    flex-wrap: wrap;
  }
  .help__bottom-card {
    padding: 20px;
  }
}
.motivated {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 97px auto 0;
}
.motivated h3 {
  margin: 0 auto;
  max-width: 680px;
}
.motivated__cards {
  margin: 0 auto;
  align-self: flex-start;
  padding: 63px 0 79px;
  display: flex;
  flex-direction: row;
  gap: 39px;
}
.motivated__cards-card {
  max-width: 360px;
}
.motivated__cards-card h4 {
  padding: 24px 0 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--blue);
}
.motivated__cards-card-content {
  margin: 0 auto;
  max-width: 300px;
}

@media screen and (max-width: 1200px) {
  .motivated h3 {
    text-align: center;
    max-width: 750px;
  }
  .motivated__cards {
    align-self: center;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  .motivated {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 992px) {
  .motivated button {
    display: block;
  }
}
.say {
  background-color: #FAF8F6;
  padding: 120px 0 0 150px;
}
.say h3 {
  max-width: 530px;
}
.say__cards {
  gap: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.say__cards-card {
  background-color: white;
  gap: 15px;
  padding: 48px;
}
.say__cards-card h4 {
  color: var(--blue-dark);
  padding: 15px 0;
}
.say__cards p {
  max-width: 304px;
}

@media (max-width: 1200px) {
  .say h3 {
    margin-bottom: 20px;
  }
  .say__cards {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .say__cards-card {
    padding: 20px;
  }
}
header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 23;
  background: #fff;
}
header nav .navbar {
  max-width: 1100px;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar__list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
header nav .navbar__list .close_btn {
  display: none;
}
header nav .navbar__list .close_btn .fa-x {
  font-size: 30px;
}
header nav .navbar__list__item {
  list-style: none;
}
header nav .navbar__list__item--link {
  color: #4a556c;
  text-align: right;
  font-family: Kumbh Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  text-decoration: none;
}
header nav .navbar__list .btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #20ad96;
}
header nav .navbar .hamburger {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
header nav .navbar .hamburger .child {
  margin-top: 5px;
  width: 100%;
  height: 3px;
  background: gray;
}
header nav .navbar .hamburger.active .ch-1 {
  transform: rotate3d(45deg);
}

@media (max-width: 690px) {
  .navbar__list {
    z-index: 20;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #fff;
    transform: translateX(210%);
    height: 100%;
    width: 50%;
    top: 0;
    padding-top: 130px;
  }
  .navbar__list li a {
    color: black;
  }
  .navbar__list .hamburger {
    display: block !important;
  }
  .navbar__list .close_btn {
    position: absolute;
    top: 60px;
    right: 10;
    display: block !important;
  }
  .navbar__list.visible {
    transition: 0.5s ease-out;
    transform: translateX(100%);
  }
  .hamburger {
    display: block !important;
  }
}
.hero__container {
  background: #faf8f6;
  height: 600px;
}
.hero__container .hero .hero__logo {
  transform: translateX(-65px);
  margin-top: 55px;
}
.hero__container .hero .hero__item {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}
.hero__container .hero .hero__item .hero__text__side {
  max-width: 450px;
  padding-top: 30px;
}
.hero__container .hero .hero__item .hero__text__side--proven {
  color: #4a556c;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}
.hero__container .hero .hero__item .hero__text__side--title {
  color: #333461;
  font-family: Kumbh Sans;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 86.4px */
  letter-spacing: -0.72px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.hero__container .hero .hero__item .hero__text__side--text {
  color: #4a556c;
  font-family: Kumbh Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  margin-bottom: 18px;
}
.hero__container .hero .hero__item .hero__text__side .hero__button {
  border-radius: 10px;
  background: #20ad96;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-family: Kumbh Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.hero__container .hero .hero__item .hero__img__side {
  position: relative;
  max-width: 400px;
}
.hero__container .hero .hero__item .hero__img__side img {
  width: 100%;
}
.hero__container .hero .hero__item .hero__img__side--target {
  background-color: #fff;
  display: flex;
  position: absolute;
  top: -30px;
  left: -90px;
  width: 200px;
  max-height: 70px;
}
.hero__container .hero .hero__item .hero__img__side img {
  width: 100%;
}
.hero__container .hero .hero__item .hero__img__side .hero__img__side--target-info {
  width: 400px;
}
.hero__container .hero .hero__item .hero__img__side .hero__img__side--target-info .hero__img__side--target-text-protsent {
  color: #333461;
  text-align: center;
  font-family: AvertaStd-Black;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.72px;
}
.hero__container .hero .hero__item .hero__img__side .hero__img__side--target-info .hero__img__side--target-text-protsent-text {
  color: #4a556c;
  text-align: center;
  font-family: AvertaStd-Regular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: -0.12px;
}

@media (max-width: 997px) {
  .hero {
    margin-top: 100px;
  }
  .hero .hero__logo {
    display: none !important;
  }
  .hero .hero__item .hero__text__side .hero__text__side--proven {
    font-size: 13px;
  }
  .hero .hero__item .hero__text__side .hero__text__side--title {
    font-size: 50px !important;
    max-width: 300px;
  }
  .hero .hero__item .hero__text__side .hero__text__side--text {
    font-size: 16px !important;
    max-width: 200px;
  }
  .hero .hero__item .hero__img__side img {
    width: 300px !important;
  }
  .hero .hero__item .hero__img__side .hero__img__side--target {
    display: none !important;
  }
}
@media (max-width: 779px) {
  .hero {
    margin-top: 100px;
  }
  .hero .hero__logo {
    display: none !important;
  }
  .hero .hero__item .hero__text__side .hero__text__side--proven {
    font-size: 13px;
  }
  .hero .hero__item .hero__text__side .hero__text__side--title {
    font-size: 40px !important;
    max-width: 2500px;
  }
  .hero .hero__item .hero__text__side .hero__text__side--text {
    font-size: 14px !important;
    max-width: 200px;
  }
  .hero .hero__item .hero__img__side img {
    width: 250px !important;
    margin-top: 40px;
  }
}
@media (max-width: 507px) {
  .hero__container {
    height: 1000px;
  }
  .hero__container .hero__item {
    flex-direction: column;
    text-align: center;
  }
  .hero__container .hero__item .hero__text__side {
    max-width: 400px !important;
    text-align: center;
    margin: 0 auto;
  }
  .hero__container .hero__item .hero__text__side .hero__text__side--proven {
    font-size: 14px;
  }
  .hero__container .hero__item .hero__text__side .hero__text__side--title {
    font-size: 40px !important;
  }
  .hero__container .hero__item .hero__text__side .hero__text__side--text {
    font-size: 13px !important;
    margin: 0 auto;
    padding-bottom: 12px;
  }
  .hero__container .hero__img__side {
    display: flex;
    margin: 0 auto;
  }
  .hero__container .hero__img__side img {
    width: 100%;
  }
}
.motiv__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 840px;
}
.motiv__content h3 {
  max-width: 680px;
  text-align: center;
}
.motiv__content-list {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 10px;
  margin-top: 65px;
}
@media (max-width: 1200px) {
  .motiv__content-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.motiv__content-list__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 355px;
  transition: 0.3s;
}
.motiv__content-list__card:hover {
  transform: scale(1.1);
}
@media (max-width: 1200px) {
  .motiv__content-list__card {
    align-items: center;
  }
}
.motiv__content-list__card p {
  font-size: 24px;
  line-height: 32px;
  color: var(--blue);
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 12px;
  padding: 24px 28px;
  padding-bottom: 0;
}
@media (max-width: 1200px) {
  .motiv__content-list__card p {
    text-align: center;
  }
}
.motiv__content-list__card span {
  padding: 24px 28px;
  padding-top: 0px;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  font-weight: 400;
}
@media (max-width: 1200px) {
  .motiv__content-list__card span {
    text-align: center;
  }
}
.motiv__content-list__card img {
  width: 100%;
}
.motiv__content .btn {
  margin-top: 65px;
}

.befo {
  top: 0;
  transition: 0.3s;
  position: relative;
}
.befo:hover {
  transform: scale(1.08);
}

.befo::before {
  background: #20AD96;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  content: "Free guide!";
  justify-content: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 900;
  color: var(--white);
  top: 50px;
  left: 85%;
}
@media (max-width: 576px) {
  .befo::before {
    display: none;
  }
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: sans-serif;
}

.box {
  height: 878px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.al {
  height: 570px;
  width: 550px;
}

.all {
  height: 581px;
  width: 446px;
}

.dont {
  color: #333461;
  width: 490px;
  font-size: 48px;
}

.lorem {
  font-size: 22px;
  width: 550px;
}

.get {
  padding: 10px;
  border-radius: 5px;
  background-color: #20AD96;
  width: 250px;
  border: none;
  color: #fff;
  font-size: 14px;
}

.all {
  background-image: url(../images/Frame\ \(14\).png);
  background-repeat: no-repeat;
}

.move {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50px;
  background-color: #20AD96;
  color: #fff;
  font-size: 14px;
  left: 390px;
  top: -50px;
}

.free {
  position: absolute;
  margin-top: 40px;
  margin-left: 10px;
}

.container-1 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.alll {
  background-image: url(../images/Screen\ mockup\ \(REPLACE\ FILL\).png);
  background-repeat: no-repeat;
  height: 512px;
}

.dontt {
  color: #333461;
  width: 550px;
  font-size: 36px;
}

.boxx {
  height: 576px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.al-l {
  height: 570px;
  width: 550px;
  margin-top: 100px;
}

.alll {
  height: 581px;
  width: 446px;
}

.dont {
  color: #333461;
  width: 490px;
  font-size: 48px;
}

.lorem {
  font-size: 22px;
  width: 550px;
  color: #333461;
}

.get {
  padding: 10px;
  border-radius: 5px;
  background-color: #20AD96;
  width: 250px;
  border: none;
  color: #fff;
  font-size: 14px;
}

.all {
  background-image: url(../images/Frame\ \(14\).png);
  background-repeat: no-repeat;
}

.footerTop {
  background: var(--gray);
  margin-top: 130px;
}
.footerTop__content {
  min-height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .footerTop__content {
    flex-direction: column;
  }
}
.footerTop__content-title {
  padding-left: 20px;
}
.footerTop__content-title h4 {
  font-size: 30px;
  line-height: 38px;
  color: var(--blue);
  font-weight: 800;
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .footerTop__content-title h4 {
    text-align: center;
    margin-top: 90px;
  }
}
.footerTop__content-title p {
  font-size: 20px;
  line-height: 30px;
  color: var(--black);
  font-weight: 400;
}
@media (max-width: 992px) {
  .footerTop__content-title p {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .footerTop__content-title {
    max-width: 500px;
    padding-right: 100px;
  }
}
@media (max-width: 992px) {
  .footerTop__content-title {
    max-width: 500px;
    padding-right: 0px;
    margin-bottom: 60px;
  }
}
.footerTop__content-email {
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 992px) {
  .footerTop__content-email {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    margin-bottom: 70px;
  }
}
.footerTop__content-email input {
  border: none;
  outline: none;
  width: 270px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding-left: 14px;
  color: rgba(74, 85, 108, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-right: 10px;
}

.footer__content {
  display: flex;
  margin-top: 64px;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
@media (max-width: 768px) {
  .footer__content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.footer__content-logo {
  max-width: 320px;
}
@media (max-width: 768px) {
  .footer__content-logo {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.footer__content-logo p {
  color: rgba(74, 85, 108, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 32px;
}
@media (max-width: 768px) {
  .footer__content-logo p {
    text-align: center;
  }
}
.footer__content-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .footer__content-list {
    align-items: center;
    justify-content: center;
  }
}
.footer__content-list li a {
  font-size: 16px;
  line-height: 24px;
  color: rgba(74, 85, 108, 0.5);
  font-weight: 400;
}
.footer__end {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E4E7EC;
}
@media (max-width: 325px) {
  .footer__end {
    flex-direction: column;
    justify-content: space-around;
  }
}
.footer__end .footer__end-svg {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}/*# sourceMappingURL=style.css.map */