@font-face {
  font-family: "KumbhSans";
  src: url("../fonts/KumbhSans/KumbhSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "KumbhSans";
  src: url("../fonts/KumbhSans/KumbhSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "KumbhSans";
  font-weight: 400;
  outline: 1px solid red;
}
*::before, *::after {
  font-family: "icons";
}

:root {
  --black: #4A556C;
  --blue: #333461;
  --white: #fff;
  --gray: #FAF8F6;
  --green: #20AD96;
  --blue-dark: #041434;
}

.container {
  min-height: 40px;
  border: 1px solid red;
  max-width: 1470px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

h3 {
  font-size: 48px;
  line-height: 56px;
  color: var(--black);
  font-weight: 800;
  color: var(--blue);
}
@media (max-width: 768px) {
  h3 {
    font-size: 36px;
    line-height: 56px;
    color: var(--black);
    font-weight: 800;
  }
}

.btn {
  max-width: 250px;
  width: 100%;
  border-radius: 10px;
  padding: 9px 0;
  border: none;
  outline: none;
  background: var(--green);
  font-size: 14px;
  line-height: 24px;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.15);
}
@media (max-width: 992px) {
  .btn {
    display: none;
  }
}

svg {
  transition: 0.3s;
}

svg:hover {
  transform: scale(1.1);
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 23;
  background: #fff;
}
header nav .navbar {
  max-width: 1100px;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar__list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
header nav .navbar__list .close_btn {
  display: none;
}
header nav .navbar__list .close_btn .fa-x {
  font-size: 30px;
}
header nav .navbar__list__item {
  list-style: none;
}
header nav .navbar__list__item--link {
  color: #4a556c;
  text-align: right;
  font-family: Kumbh Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  letter-spacing: -0.3px;
  text-decoration: none;
}
header nav .navbar__list .btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #20ad96;
}
header nav .navbar .hamburger {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
header nav .navbar .hamburger .child {
  margin-top: 5px;
  width: 100%;
  height: 3px;
  background: gray;
}
header nav .navbar .hamburger.active .ch-1 {
  transform: rotate3d(45deg);
}

@media (max-width: 690px) {
  .navbar__list {
    z-index: 20;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #fff;
    transform: translateX(210%);
    height: 100%;
    width: 50%;
    top: 0;
    padding-top: 130px;
  }
  .navbar__list li a {
    color: black;
  }
  .navbar__list .hamburger {
    display: block !important;
  }
  .navbar__list .close_btn {
    position: absolute;
    top: 60px;
    right: 10;
    display: block !important;
  }
  .navbar__list.visible {
    transition: 0.5s ease-out;
    transform: translateX(100%);
  }
  .hamburger {
    display: block !important;
  }
}
.hero__container {
  background: #faf8f6;
  height: 600px;
}
.hero__container .hero .hero__logo {
  transform: translateX(-65px);
  margin-top: 55px;
}
.hero__container .hero .hero__item {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}
.hero__container .hero .hero__item .hero__text__side {
  max-width: 450px;
  padding-top: 30px;
}
.hero__container .hero .hero__item .hero__text__side--proven {
  color: #4a556c;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}
.hero__container .hero .hero__item .hero__text__side--title {
  color: #333461;
  font-family: Kumbh Sans;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 86.4px */
  letter-spacing: -0.72px;
  margin-top: 8px;
  margin-bottom: 15px;
}
.hero__container .hero .hero__item .hero__text__side--text {
  color: #4a556c;
  font-family: Kumbh Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  margin-bottom: 18px;
}
.hero__container .hero .hero__item .hero__text__side .hero__button {
  border-radius: 10px;
  background: #20ad96;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-family: Kumbh Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.hero__container .hero .hero__item .hero__img__side {
  position: relative;
  max-width: 400px;
}
.hero__container .hero .hero__item .hero__img__side img {
  width: 100%;
}
.hero__container .hero .hero__item .hero__img__side--target {
  background-color: #fff;
  display: flex;
  position: absolute;
  top: -30px;
  left: -90px;
  width: 200px;
  max-height: 70px;
}
.hero__container .hero .hero__item .hero__img__side img {
  width: 100%;
}
.hero__container .hero .hero__item .hero__img__side .hero__img__side--target-info {
  width: 400px;
}
.hero__container .hero .hero__item .hero__img__side .hero__img__side--target-info .hero__img__side--target-text-protsent {
  color: #333461;
  text-align: center;
  font-family: AvertaStd-Black;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.72px;
}
.hero__container .hero .hero__item .hero__img__side .hero__img__side--target-info .hero__img__side--target-text-protsent-text {
  color: #4a556c;
  text-align: center;
  font-family: AvertaStd-Regular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: -0.12px;
}

@media (max-width: 997px) {
  .hero {
    margin-top: 100px;
  }
  .hero .hero__logo {
    display: none !important;
  }
  .hero .hero__item .hero__text__side .hero__text__side--proven {
    font-size: 13px;
  }
  .hero .hero__item .hero__text__side .hero__text__side--title {
    font-size: 50px !important;
    max-width: 300px;
  }
  .hero .hero__item .hero__text__side .hero__text__side--text {
    font-size: 16px !important;
    max-width: 200px;
  }
  .hero .hero__item .hero__img__side img {
    width: 300px !important;
  }
  .hero .hero__item .hero__img__side .hero__img__side--target {
    display: none !important;
  }
}
@media (max-width: 779px) {
  .hero {
    margin-top: 100px;
  }
  .hero .hero__logo {
    display: none !important;
  }
  .hero .hero__item .hero__text__side .hero__text__side--proven {
    font-size: 13px;
  }
  .hero .hero__item .hero__text__side .hero__text__side--title {
    font-size: 40px !important;
    max-width: 2500px;
  }
  .hero .hero__item .hero__text__side .hero__text__side--text {
    font-size: 14px !important;
    max-width: 200px;
  }
  .hero .hero__item .hero__img__side img {
    width: 250px !important;
    margin-top: 40px;
  }
}
@media (max-width: 507px) {
  .hero__container {
    height: 1000px;
  }
  .hero__container .hero__item {
    flex-direction: column;
    text-align: center;
  }
  .hero__container .hero__item .hero__text__side {
    max-width: 400px !important;
    text-align: center;
    margin: 0 auto;
  }
  .hero__container .hero__item .hero__text__side .hero__text__side--proven {
    font-size: 14px;
  }
  .hero__container .hero__item .hero__text__side .hero__text__side--title {
    font-size: 40px !important;
  }
  .hero__container .hero__item .hero__text__side .hero__text__side--text {
    font-size: 13px !important;
    margin: 0 auto;
    padding-bottom: 12px;
  }
  .hero__container .hero__img__side {
    display: flex;
    margin: 0 auto;
  }
  .hero__container .hero__img__side img {
    width: 100%;
  }
}