.about{
  background: $gray;
  padding-top: 120px;
  &__content{
    min-height: 700px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    margin-bottom: 97px;
    & h3{
      max-width: 530px;
      margin-bottom: 35px;
    }
    &-list{
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      row-gap: 20px;
      @include media(1200){
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
      }
      &__card{
        display: flex;
        flex-direction: column;
        padding: 48px;
        background: $white;
        max-width: 400px;
        transition: 0.3s;
        &:hover{
          transform: scale(1.07);
        }
        @include media(1200){
          align-items: center;
        }
        p{
          @include fonts(24px, 32px, $black, 400);
          @include media(1200){
            text-align: center;
          }
        }
        span{
          max-width: 305px;
          margin-top: 15px;
          margin-bottom: 15px;
          @include fonts(24px, 32px, $blue, 700);
        }
        img{
          width: 70px;
          height: 70px;
          margin-bottom: 15px;
        }
      }
    } 
  }
}