.header{
  background: $gray;
  &__content{
    height: 650px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(992){
      flex-direction: column;
      height: 100%;
    }
    &-title{
      span{
        @include fonts(16px, 24px, $black, 400);
        opacity: 0.4;
      }
      h1{
        max-width: 520px;
        @include fonts(72px, 120%, $blue, 800);
        margin-top: 6px;
        margin-bottom: 18px;
        @include media(1200){
          @include fonts(56px, 110%, $blue, 800);
        }
        @include media(576){
          @include fonts(48px, 110%, $blue, 800);
        }
      }
      p{
        max-width: 545px;
        @include fonts(18px, 160%, $black, 400);
        margin-bottom: 18px;
        @include media(1200){
          padding-right: 50px;
          @include fonts(16px, 150%, $black, 400);
        }
        @include media(576){
          @include fonts(14px, 150%, $black, 400);
        }
      }
      &__svg{
        position: absolute;
        top: 55px;
        left: -34px;
      }
      @include media(992){
        margin-bottom: 60px;
        margin-top: 130px;
      }
    }
    &-images{
      padding-right: 90px;
      position: relative;
      top: 55px;
      @include media(1400){
        padding: 0;
      }
      img{
        width: 462px;
        @include media(576){
          width: 100%;
        }
      }
      @include media(576){
        width: 100%;
        transition: 0.3s;
        &:hover{
          transform: scale(1.09);
        }
      }
    }
    &-images::before{
      display: flex;
      position: absolute;
      top: -9%;
      left: -20%;
      width: 237px;
      height: 104px;
      background: url(../images/bgBefo.png) no-repeat center center / contain;
      content: '';
      @include media(576){
        display: none;
      }
    }
  }
}